$base-font: "Roboto", "Droid Sans", "Helvetica Neue", sans-serif !default;
$base-font-size: 16px !default;
$base-font-color: #1A3547 !default;

$primary-color: #ffa500 !default;
$white: #fff !default;
$grey: #ccc !default;
$grey-dark: #808080 !default;

$mobile-min: 479px !default;
$tablet-min: 767px !default;